.skills .card {
    width: 100%;
}

.skills .card .img-container {
    transition:  0.4s;
}

.skills .img-container {
    background-color: var(--light-color);
}

.skills .img-container img {
    filter: grayscale(90%);
    transition: 0.3s;

}

.skills .card:hover .img-container img {
    filter: grayscale(0);
}

.skills .card:hover .img-container {
    background-color: var(--secondary-color);
}

.skills .card:hover .img-container .detail-text {
    color:  white ;
}

@media(max-width : 768px){
    .skills .card {
        margin:  0 auto;
        width: 200px;
    }
}