.header  {
  position: absolute;
  width: 100%;
  padding: 1.25rem;
  z-index: 99;
}

.header.is-sticky {
  top: 0;
  animation: bounceInDown 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  position: fixed;
  left: 0;
  z-index: 100;
  transition: 0.3s;
  box-shadow: 0 0 30px rgb(135, 80, 247, 0.2);
  background: var(--light-color);
  padding: 8px 10px;


}

.header.header.is-sticky .mb-3{
  margin-bottom: 0px !important;
}

.header .navbar-brand {
  font-size: var(--title);
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary-color);
}

.header .offcanvas-body .nav-link {
  font-size: var(--body-text);
  font-weight: 500;
  padding: 0px 14px !important;
  color: var(--textClr);
  position: relative;
}

.header .offcanvas-body .nav-link:hover{
  color: var(--primary-color);
}

.header .offcanvas-body .nav-link::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
  margin: 0px auto;
  content: "";
  background-color: var(--primary-color);
  width: 0;
  height: 2px;
  transition: all 0.5s;
  z-index: 99;
}

.header .offcanvas-body .nav-link:hover:after{
  width: 100%;
}

.header .header-action .toggle-btn  {
  background-image: linear-gradient(
    90deg,
    var(--primary-color) 0,
    var(--secondary-color), 51%,
    var(--primary-color)
  );
  color: var(--white-color);
  border: none;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;

}

@media (width < 576px){
  header .primary-btn {
    padding: 10px 14px;
    font-size: var(--body-text);
  }
  header {
    padding: 6px 12px;
  }
}